@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

:root{
  --page-color-background: #030404;
  --page-color-font: #fcffff;

  --chat-color-font-username: var(--chat-form-button-background);
  --chat-box-message-userAgent-color-background: #253841;
  --chat-box-message-otherUser-color-background: #1d2b28;
  --chat-form-background: #002642;
  --chat-form-button-background: #0FA74B;
  --chat-form-input-background: #2b323b
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  min-height: 100vh;
  background-color: var(--page-color-background);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}

#content section{
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  
}

#content form{
  height: 45px;
  display: flex;
  justify-content: space-around;
  background: var(--page-color-background);

  margin: 0 20px;

  border-radius: 7px;
  margin-bottom: 10px;

  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

#content form input[type=text], #content form button{
  margin: 5px;
}

#content form input[type=text]{

  width: 90%; /*60%*/

  border-radius: 5px;
  border: none;
  padding: 7px;
  font-size: 16px;
  outline: none;
  color: var(--page-color-font);
  background-color: var(--chat-form-input-background);
}
#content form button{
  
  font-size: 16px;
  font-weight: bold;
  background-color: var(--chat-form-button-background);
  color: var(--page-color-font);
  outline: none;
  border: none;
  border-radius: 5px;
  width: 20%;
  opacity: 1;
}

#content form button:active{
  opacity: 0.8;
}

#message-box{
  min-width: 140px;
  max-width: 60%;
  border-radius: 7px;
  margin: 5px;
  padding: 12px;

  display: flex;
  flex-direction: column;
}

.user-name{
  text-decoration-line: underline;
  font-size: 0.9rem;
  font-weight: bold;

  color: var(--chat-color-font-username);
}

.userAgentMessage{
  background-color: var(--chat-box-message-userAgent-color-background);
  align-self: flex-end;
}
.userAgentMessage #message{
  margin-bottom: 8px;
}

.otherUserMessage{
  margin-top: 8px;
  background-color: var(--chat-box-message-otherUser-color-background);
  align-self: flex-start;
}

.otherUserMessage #message{
  margin-top: 8px;
}

#message{
  margin-top: 3px;
  color: var(--page-color-font);
}

#date-message{
  display: flex;
  flex-direction: column;
}

#date-message small{
  color: var(--page-color-font);
  font-size: 10px;
  align-self: flex-end;
}